<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="">
    <style>
        .background-radial-gradient {
            background: radial-gradient(circle, #1c1c1c, #000000);
        }

        #radius-shape-1,
        #radius-shape-2 {
            content: '';
            position: fixed;
            border-radius: 50%;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
        }

        #radius-shape-1 {
            width: 200px;
            height: 200px;
            background-color: #FF4C4C;
            top: -60px;
            left: -60px;
        }

        #radius-shape-2 {
            width: 300px;
            height: 300px;
            background-color: #4CFF72;
            bottom: -120px;
            right: -120px;
        }
        .col-md-6 {
            position: relative; 
            z-index: 1; 
        }

    </style>
</head>
<body class="background-radial-gradient overflow-auto">

    <div class="container-fluid p-4">
        <div class="row">

            

            <div class="col-md-6 position-relative ">

                <div id="radius-shape-1"></div>
                <div id="radius-shape-2"></div>

                <div class="card my-5 bg-glass" style="border-radius: 20px;">
                    <div class="card-body p-5">

                        <div class="row">
                            <div class="col-md mb-4">
                                <div class="text-center" style="font-size: 30px;color: hsl(218, 61%, 36%);font-weight: b; padding-bottom: 30px;">Welcome back</div>
                                <label for="form1" class="form-label">Username:</label>
                                <input type="text" class="form-control" id="form1">
                            </div>

                        </div>

                        
                        <div class="mb-4">
                            <label for="form4" class="form-label">Password</label>
                            <input type="password" class="form-control" id="form4">
                        </div>

                        

                        <div class="d-flex justify-content-center mb-4">
                            <!--
                                                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Subscribe to our newsletter
                                </label>
                            </div>
                            -->
                            <div>
                                <p>Don't have account?<a href="#" style="text-decoration: none;"> Sign up here!</a></p>
                            </div>
                        </div>

                        <button class="btn btn-primary w-100 mb-4" size="md">login</button>

                        <div class="text-center">

                            <p>or sign up with:</p>

                            <a href="#" class="btn btn-link mx-3" style="color: #1266f1;">
                                <i class="fa-brands fa-facebook"></i>
                            </a>

                            <a href="#" class="btn btn-link mx-3" style="color: #1266f1;">
                                <i class="fab fa-twitter"></i>
                            </a>

                            <a href="#" class="btn btn-link mx-3" style="color: #1266f1;">
                                <i class="fab fa-google"></i>
                            </a>

                            <a href="#" class="btn btn-link mx-3" style="color: #1266f1;">
                                <i class="fab fa-github"></i>
                            </a>

                        </div>

                    </div>
                </div>

            </div>

            
            <div class="col-md-6 text-center text-md-start d-flex flex-column justify-content-center" style="margin-top: -50px;line-height: 1.2;">

                <h1 class="my-5 display-3 fw-bold ls-tight px-3" style="color: hsl(218, 81%, 95%);">
                    Login to our web <br>
                    <span style="color: hsl(218, 81%, 75%);">Many discount is waiting for you</span>
                </h1>

                <p class="px-3" style="color: hsl(218, 81%, 85%);">
                    Take a cup of coffee, a cup of tea, or anything make you feel concentrate, turn the music on,
                    open your note, and ready for a new adventure with us!
                </p>

            </div>

        </div>
    </div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</body>
</html>