.menu_antd_custom{
    position: fixed;
    top: 35px;
    left: 0;
}

.right_content{
    position: absolute;
    left: 25%;
    top: 70px;
    background-color: #fff;
}

.detail_container{
    position: relative;
}